@keyframes aparecer {
    from {opacity: 0; translate: 0 50px;}
    to {opacity: 1; translate: 0 0;}
}

.usuario {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;

    animation: aparecer .6s ease-in-out 1ms forwards;
    animation-timeline: view(block);
    animation-range: cover 0% cover 30%;
}

.imagem {
    --tamanho: 1.5rem;
}

.nome {
    font-size: .9rem;
    line-height: 1.2;
}