.perfil {
    display: flex;
    gap: 1rem;
}

.perfil__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.handler {
    opacity: .5;
}

.perfil__bio {
    line-height: 1.25;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 20rem;
}