.imagem {
    border-radius: .5rem;
    margin-block: 1.2rem;
}

.fullscreen {
    position: fixed;
    top: 1rem;
    bottom: 1rem;
    object-fit: cover;
    z-index: 1000;
}

.sombra {
    position: fixed;
    inset: 0;
    height: 100dvh;
    background-color: #00000099;
    z-index: 1;
}