@keyframes aparecerCard {
    from {opacity: 0; translate: 0 50px;}
    to {opacity: 1; translate: 0 0;}
}

@keyframes tamanhoLinha {
    from {opacity: 0;}
    to {opacity: 1;}
}

.card {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0,.1);
    background-color: var(--bg-card);

    animation: aparecerCard .6s ease-in-out 1ms forwards;
    animation-timeline: view(block);
    animation-range: cover 0% cover 30%;
}

.reply {
    width: 1px;
    background-color: silver;
    position: absolute;
    left: 2.5rem;
    top: -1rem;
    height: 1rem;
    
    animation: tamanhoLinha .6s ease-in-out 1ms forwards;
    animation-timeline: view(block);
    animation-range: cover 0% cover 10%;
}

.user__img {
    --tamanho: 50px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user__info h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--azulMedio);
}

.user__info p {
    font-size: .8rem;
    font-weight: 400;
    color: var(--azulEscuro);
}

.post__conteudo__texto{
    line-height: 1.2;
}

.post__conteudo__imagem {
    border-radius: .5rem;
    margin-block: 1.2rem;
}

.publicacao {
    font-size: .75rem;
    opacity: .5;
}

.acoes {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    gap: 1rem;
}

.acoes__item {
    opacity: .5;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.acoes__item:hover {
    opacity: 1;
}