.header {
    width: 200px;
}

.logo {
    height: 75px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo__img {
    width: 3rem;
    height: 3rem;
}

.logo__texto {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--azulMedio)
}

.navegacao {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navegacaoItem {
    display: flex;
    gap: 1rem;
    padding: .8rem .5rem;
    margin-right: 1rem;
    border-radius: 1rem;
    transition: .3s ease-in-out;
}

.navegacaoItem:hover {
    background-color: var(--bg-destaque);
    color: var(--azulMedio);
}